
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #235789  ;
    font-family:'Young Serif', serif; ;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color:#E7C24F ;
}
nav a:hover{
    background-color: white;
    color: black;
}
.book, .join{
    background-color:#E7C24F ;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #E7C24F;
    color: black;
}
.icon{
    padding: 10px;
}
#background{
    background-color: #E7C24F;
}
.msg{
    background-color:#E7C24F ;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #235789;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: black;
    font-family: 'Young Serif', serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
}
.msg h2{
    color: black;
    font-family: 'Young Serif', serif;
}
.msg p{
    color: black;
    font-size: 8em;
    padding-bottom: 15px;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
#logo_link{
    padding-top: 5px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
section{
    line-height: 1.5em;
}
nav a{
    padding: 35px;
}
footer .social img {
    padding-top: 15px;
}
.river-card, .camping-card, .rapids-card {
    margin:200px 0 ;
}
.card-img{
    border:  10px solid black;
}
.main section img{
    box-sizing: border-box;
}