body {
    margin: 0;

}
.header{
    background-color:#396E94;
}
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family:  Tilt Neon;
}

nav a {
    text-decoration: none;
    color:#E7C24F ;
    padding: 5px;
    display: inline-block;
    padding-top: 35px;
    font-size: 20px;
}

nav a:hover {
    background-color: #555;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px; /* adjust the width as needed */
    height: auto;
    margin-left: 40px; /* adjust the margin as needed */
    padding: 2px; /* add padding around the image */
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Two equal columns */
    gap: 20px; /* Adjust the gap as needed */
    padding-top: 20px;
}
.second-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Adjust the gap as needed */
}
  
img {
    max-width: 100%;
    height: auto;
} 
p {
    grid-column: 2 / span 1; /* Place the text in the first column */
    font-family:  Roboto ;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin-top: 20px
  }

  .social-links {
    display: flex;
    align-items: center;
    justify-content: left; /* Align to the left */
  }

  .social-link {
    margin-right: 10px;
  }

  .social-link img {
    width: 20px; /* Adjust the size as needed */
    height: auto;
  }